.contact-section {
  min-height: 50vh;
  padding: 1px 60px;

  display: flex;
  flex-direction: column;
  align-items: center;
position: relative;
  z-index: 5;
  
}

.contact-title {
  font-size: 50px;
  font-weight: 800;
  color: white;
  
}

.contact-subtitle {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.612);
  padding: 0;
  margin: 0;
  
}

.contact-subtitle span {
  color: white;
  font-weight: 600;
}

/* ✅ Glass Form */
.contact-form {
  width: 80%;
  max-width: 900px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  /* background: rgba(255, 255, 255, 0.05); */
  /* backdrop-filter: blur(15px); */
/* 
  border-radius: 25px; */
  /* border: 1px solid rgba(255, 255, 255, 0.1); */

  padding-top: 30px;
  padding-bottom: 30px;
  transform-origin: center; /* ✅ Wrap from center */

  position: relative;
  z-index: 5;
}

/* ✅ Input Fields */
.contact-form input,
.contact-form textarea {
  width: 70%;
  padding: 18px 20px;

  border: none;
  outline: none;
  /* border-radius: 15px; */

  background: rgba(255, 255, 255, 0.146);
  border: 1px solid rgba(255, 255, 255, 0.03);

  color: white;
  font-size: 16px;
}

.contact-form textarea {
  min-height: 160px;
  resize: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: rgba(255, 255, 255, 0.65);
  font-weight: 500;
}


/* ✅ Submit Capsule Button */
.submit-btn {
  margin: auto;
  padding: 12px 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;

  border: none;
  outline: none;
  cursor: pointer;

  border-radius: 50px;
  background: rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(12px);

  color: white;
  font-size: 17px;
  font-weight: 500;

  transition: 0.3s ease;
}

/* ✅ Icon Circle */
.submit-icon {
  width: 42px;
  height: 42px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(255, 255, 255, 0.08);
  font-size: 16px;
}

/* ✅ Hover Effect */
.submit-btn:hover {
  transform: translateY(-4px);
  color: #00ff99;
  box-shadow: 0 0 15px rgba(0, 255, 153, 0.25);
}

/* ✅ Popup Message */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: rgba(0, 255, 153, 0.15);
  border: 1px solid rgba(0, 255, 153, 0.4);
  backdrop-filter: blur(15px);

  padding: 18px 35px;
  border-radius: 18px;

  font-size: 18px;
  font-weight: 600;
  color: #00ff99;

  z-index: 9999;
  animation: popupFade 0.4s ease;
}

/* ✅ Smooth Popup Animation */
@keyframes popupFade {
  from {
    opacity: 0;
    transform: translate(-50%, -55%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}



@media (max-width: 768px){
    .contact-section{
        padding: 1px 25px;
        text-align: center;
    }

    .contact-title{
        font-size: 45px;
    }

    .contact-subtitle{
        font-size: 14px;
  line-height: 1.7;
    }

    .contact-form{
       width: 100%;
    }
}
