.projects-section {
  min-height: 50vh;
  padding: 50px 60px;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 5;
}

/* ✅ Title */
.projects-title {
  font-size: 50px;
  font-weight: 800;
  color: white;
  margin-bottom: 60px;
}

/* ✅ Container */
.projects-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  max-width: 900px;
  
}

/* ✅ Glass Card */
.project-card {
  padding: 1px 40px;
  border-radius: 25px;

  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(14px);

  border: 1px solid rgba(255, 255, 255, 0.12);

  color: white;
 
  
}

.project-card h2 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
  
}

.project-card p {
  font-size: 17px;
  line-height: 1.7;
  color:rgba(255, 255, 255, 0.65);
  font-weight: 500;
  margin-bottom: 25px;
  position: relative;
  z-index: 5;
}

/* ✅ Tech Pills */
.tech-stack {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.tech-pill {
  padding: 10px 18px;
  border-radius: 12px;

  background: rgba(255, 255, 255, 0.07);
  border: 1px solid rgba(255, 255, 255, 0.08);

  font-size: 15px;
  color: rgba(255, 255, 255, 0.85);
  
}

/* ✅ Hover */
.project-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 18px rgba(0, 255, 153, 0.2);
}

@media (max-width: 768px){
  .projects-title {
  font-size: 45px;
  
}

.project-card{
  text-align: center;
  padding: 1px 15px;
}

.project-card h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  
}

.project-card p {
  font-size: 14px;
  line-height: 1.7;
 
}
.projects-section{
  padding: 50px 25px;
}

.tech-stack{
  justify-content: center;
  align-items: center;
}
}