.skills-section {
  min-height: 60vh;
  padding: 1px 60px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 5;
}

/* ✅ Title */
.skills-title {
  font-size: 50px;
  font-weight: 800;
  color: white;
  margin-bottom: 60px;
}

/* ✅ Container */
.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  max-width: 900px;
}

/* ✅ Skill Box Pills */
.skill-box {
  padding: 14px 30px;
  border-radius: 15px;

  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(10px);

  border: 1px solid rgba(255, 255, 255, 0.1);

  color: rgba(255, 255, 255, 0.85);
  font-size: 18px;
  font-weight: 500;

 
}

/* ✅ Hover Glow */
.skill-box:hover {
  transform: translateY(-5px);
  color: #00ff99;
  box-shadow: 0 0 15px rgba(0, 255, 153, 0.3);
}

@media (max-width: 768px){
  .skills-title {
  font-size: 45px;
  margin-bottom: 30px;
}

.skills-section {
  padding: 1px 25px;
}

.skill-box{
  font-size: 16px;
  padding: 14px 20px;
}

}
